*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    position: relative;
    margin:100px auto;
}

.images{
    grid-gap: 30px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.images img{
    filter: grayscale(100%);
    cursor: pointer;
    transition:all 150ms ease-in-out;
}

img:hover{
    filter: grayscale(0%);
}

@media screen and (max-width: 1024px){
    .images img{
        filter: grayscale(0%);
    }
}

.lightbox{
    padding: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.8);

}
.bigImg{
    transform: scale(0.0);
    transition: all 350ms ease;
}

.bigImg.active{
    transform: scale(1);
}



.lightbox i{
    font-size: 48px;
    color: #BABABA;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.lightbox i:hover{
    color: #fff;
}

.la-chevron-left{
    left: 2px;
}

.la-chevron-right{
    right: 2px;
}